<%= form_with(model: [@post, comment], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_area :description, placeholder: "Comment", class: "form-control form-control-lg" %>
  </div>

  <div class="actions" style="margin-top:30px;">
    <%= form.submit "Post comment", class: "btn btn-lg btn-dark" %>
  </div>
<% end %>
  