<%= form_with(model: post, local: true, class: "postform") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :title, class: "form-control form-control-lg", id: "exampleFormControlInput1", placeholder: "Title" %>
  </div>

  <div class="mb-3">
    <%= form.text_area :description, class: "form-control form-control-lg", id: "exampleFormControlTextarea1", placeholder: "Description", rows: 3 %>
  </div>

  <div>
    <%= form.file_field :image, class: "form-control form-control-lg", id: "formFileLg" %>
  </div>

  <div class="actions" style="margin-top:30px;">
    <%= form.submit "Create post", class: "btn btn-lg btn-dark" %>
  </div>
<% end %>
